<div class="container mt-3">
  <nz-spin [nzSpinning]="loading">
    <nz-card *ngIf="student" nzBordered="true" class="shadow-sm rounded-3">
      <div class="row g-3 align-items-center">
        <!-- Profile photo -->
        <div class="col-12 col-md-3 text-center">
          <img
            *ngIf="student.photo; else defaultIcon"
            [src]="student.photo"
            alt="Student Photo"
            class="img-fluid rounded-3 border"
            style="max-width: 150px"
          />
          <ng-template #defaultIcon>
            <i class="bi bi-person-square" style="font-size: 2rem; color: #ccc"></i>
          </ng-template>
        </div>

        <!-- Student info -->
        <div class="col-12 col-md-9">
          <nz-descriptions [nzColumn]="1" nzBordered>
            <nz-descriptions-item nzTitle="Card ID">
              {{ student.card_id }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Identity ID">
              {{ student.identity_id }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name (Khmer)">
              {{ student.name.khmer }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name (English)">
              {{ student.name.english }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Gender">
              {{ student.gender }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Birth Date">
              {{ student.birth_date | date : 'dd/MM/yyyy' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Phone">
              {{ student.phone }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Guardian">
              {{ student.guardian.name }} ({{ student.guardian.phone }})
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Education Level">
              {{ student.education_level }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Major">
              {{ student.major }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Faculty">
              {{ student.faculty }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Study Shift">
              {{ student.study_shift }}
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
    </nz-card></nz-spin
  >
</div>
